form table th {
  text-align: right;
  font-weight: normal;
}

input.text, input.file, textarea, select {
  font: inherit;
  padding: 1px 2px;
  background-color: #F0F0F0;
  border: 1px solid #F0F0F0;
}

input.text:focus, textarea:focus {
  background-color: #FCFCFC;
  border: 1px solid #747474;
}