<h2>Login</h2>

<table>
  <tr>
    <th>Username</th>
    <td><input type="text" name="username" size="23" /></td>
  </tr>

  <tr>
    <th>Password</th>
    <td>
      <input type="password" name="username" size="15" />
      <input type="submit" value="Login">
    </td>
  </tr>
</table>