<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Polaris</title>
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/authentication.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/forms.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/flashes.css" />
  </head>

  <body>
    <div id="version"><%= Version %></div>

    <div id="outer-center-hack">
    <div id="middle-center-hack">
    <div id="inner-center-hack">
      
      <div id="shadow-top"></div>
      
      <div id="shadow-middle" class="clearfix">
      
        <div id="content">
          <div id="header">
            <div id="title">
              <h1>polaris</h1>
            </div>
          </div>
          
          <div id="login">
            <%= yield %>
          </div>
        </div>
      </div>
      
      <div id="shadow-bottom"></div>
        
    </div>
    </div>
    </div>
  </body>
</html>